<!--
<div class="search-book">
  <form method="GET" action="/books/search">
    <input type="text" name="keyword" value="<%= keyword %>" class="form-control" placeholder="Search event">
    <input type="submit" class="btn btn-primary" value="Search">
  </form>
</div>
-->
