<div id="modal-delete" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h5>Delete Confirmation</h5>
		</div>
		<div class="modal-body">
			<p>Are you sure want to delete this data ?</p>
		</div>
		<div class="modal-footer">
			<button type="button" id="btn-close-modal" class="btn btn-secondary">Close</button>
			<a id="delete-book" class="btn btn-danger">Delete</a>
		</div>
	</div>
</div>
