<html>

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="container">
        <h1>Welcome to Home</h1>
        <div>Address : 606-3727 Ullamcorper. Street Roseville NH 11523</div>
        <div>Phone number : (786) 713-8616</div>
        <br />
        <a href="/events">See our events</a>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>