<header class="header dark-bg">
  <a href="/admin" class="logo">Event <span class="lite">Up</span></a>
  <div class="top-nav notification-row">
    <ul class="nav pull-right top-menu">
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="profile-ava">
            <img alt="" src="/static/img/avatar1_small.jpg">
          </span>
          <span class="username"><%= user.username %></span>
        </a>
      </li>
    </ul>
  </div>
</header>